<div class = "grid-container">
<h2/>My Profile</h2>
  <div class="field">
    <h2>Email: </h2>
    <p><%="#{current_user.email}"%></p>
  </div>
  <div class="field">
    <h2>Contact First Name: </h2>
    <p><%="#{current_user.contact_first_name}"%></p>
  </div>
  <div class="field">
   <h2>Contact Last Name: </h2>
    <p><%="#{current_user.contact_last_name}"%></p>
  </div>
 <div class="field">
   <h2>Primary Phone Number: </h2>
    <p><%="#{current_user.primary_phone}"%></p>
  </div>
 <div class="field">
   <h2>Secondary Phone Number: </h2>
    <p><%="#{current_user.secondary_phone}"%></p>
  </div>
  <div class="field">
  	<h2>Street Address: </h2>
    <p><%="#{current_user.street_address}"%></p>
  </div>
  <div class="field">
  	<h2>City: </h2>
    <p><%="#{current_user.city}"%></p>
  </div>
  <div class="field">
  	<h2>County: </h2>
    <p><%="#{current_user.county}"%></p>
  </div>
  <div class="field">
  	<h2>State: </h2>
    <p><%="#{current_user.state}"%></p>
  </div>
  <div class="field">
    <h2>Zip: </h2>
    <p><%="#{current_user.zip}"%></p>>
  </div>

  <!-- SHELTER SETTINGS-->
  <% if @shelter != nil %>
    <div class = "field">
      <h2>Name:</h2>
      <p><%="#{@shelter.name}"%></p>
    </div>
    <div class = "field">
      <h2>Total Capacity:</h2>
      <p><%="#{@shelter.capacity_total}"%><p/>
    </div>
    <div class = "field">
      <h2>Available Capacity:</h2>
      <p><%="#{shelter.capacity_available}"%></p>
    </div>
    <div class = "field">
      <h2>Pet Freindly (Yes or No):</h2>
      <p><%="#{@shelter.pet_friendly}"%></p>
    </div>

  <% elsif @supplier != nil %>
    <div class = "field">
      <h2>Name:</h2>
      <p><%="#{@supplier.name}"%></p>
    </div>
    <div class = "field">
      <h2>Gallons of Gasoline:</h2>
      <p><%="#{supplier.gasoline_gallons}"%></p>
    </div>
    <div class = "field">
      <h2>Gallons of Water:</h2>
      <p><%="#{supplier.water_gallons}"%></p>
    </div>
    <div class = "field">
      <h2>Meal Quantity:</h2>
      <p><%="#{supplier.meal_quantity}"%><p/>
    </div>
    <div class = "field">
      <h2>Blanket Quantity:</h2>
      <p><%="#{supplier.blanket_quantity}"%></p>
    </div>


  <% elsif @family != nil %>
    <div class = "field">
      <h2>Number of Pets:</h2>
      <p><%="#{@family.num_pets}"%></p>
    </div>
    <div class = "field">
      <h2>Number of Family Members:</h2> 
      <p><%="#{family.num_family_members}"%></p>
    </div>

  <% else %>
    <p> No user type found! </p>
  <% end %>

<%= link_to "Back", :back %>
</div>
