<!DOCTYPE html>
<html>
  <head>
    <title>TheWebWumbologists</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <header>
    <h1> Loading Relief </h1>
    <h3> Connecting Families and Resources During Disasters </h3>
  </header>

  <div class="topnav">
    <a href="/about">About</a>
    <a href="/families">Families in Need</a>
    <a href="/shelters">Shelters With Resources</a>
    <a href="/suppliers">Suppliers</a>
    <a href="/resources">Resources</a>
    <% if user_signed_in? %>
      <a href= <%="/users/profile/#{current_user.user_name}"%> >My Profile</a>
      <a href="/users/edit">Settings</a>
    <% else %>
      <a href="/users/sign_in">Sign In</a>  
    <% end %>
   </div>   

   <%= yield %>

  <footer>
    <h4> Created by The Web Wumbologists </h4>
    <p> Hack Ohi/o 2018 </p>
  </footer>


  </body>
</html>
