<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <div class="field">
    <label for="contact_first_name">Contact First Name:</label><br/>
    <input type="text" name="contact_first_name" id="contact_first_name" />
  </div>
  <div class="field">
    <label for="contact_last_name">Contact Last Name:</label><br/>
    <input type="text" name="contact_last_name" id="contact_last_name" />
  </div>
  <div class="field">
    <label for="primary_phone">Primary Phone Number:</label><br/>
    <input type="text" name="primary_phone" id="primary_phone" />
  </div>
  <div class="field">
    <label for="secondary_number">Secondary Phone Number:</label><br/>
    <input type="text" name="secondary_number" id="secondary_number" />
  </div>
  <div class="field">
    <label for="street_address">Street Address:</label><br/>
    <input type="text" name="street_address" id="street_address" />
  </div>
  <div class="field">
    <label for="city">City:</label><br/>
    <input type="text" name="city" id="city" />
  </div>
  <div class="field">
    <label for="county">County:</label><br/>
    <input type="text" name="county" id="county" />
  </div>
  <div class="field">
    <label for="state">State:</label><br/>
    <input type="text" name="state" id="state" />
  </div>
  <div class="field">
    <label for="zip">Zip:</label><br/>
    <input type="text" name="zip" id="zip" />
  </div>


  <!-- SHELTER SETTINGS-->
  <% if @shelter != nil %>
    <div class = "field">
      <label for="shelter_name">Name:</label><br/>
      <input type="text" name="name" id="shelter_name" />
    </div>
    <div class = "field">
      <label for="shelter_capacity_total">Total Capacity:</label><br/>
      <input type="text" name="capacity_total" id="shelter_capacity_total" />
    </div>
    <div class = "field">
      <label for="shelter_capacity_available">Available Capacity:</label><br/>
      <input type="text" name="capacity_available" id="shelter_capacity_available" />
    </div>
    <div class = "field">
      <label for="shelter_pet_friendly">Pet Freindly (Yes or No):</label><br/>
      <input type="text" name="pet_friendly" id="shelter_pet_friendly" />
    </div>

  <% elsif @supplier != nil %>
    <div class = "field">
      <label for="supplier_name">Name:</label><br/>
      <input type="text" name="name" id="supplier_name" />
    </div>
    <div class = "field">
      <label for="supplier_gasoline_gallons">Gallons of Gasoline:</label><br/>
      <input type="text" name="gasoline_gallons" id="supplier_gasoline_gallons" />
    </div>
    <div class = "field">
      <label for="supplier_water_gallons">Gallons of Water:</label><br/>
      <input type="text" name="water_gallons" id="supplier_water_gallons" />
    </div>
    <div class = "field">
      <label for="supplier_meals_quantity">Meal Quantity:</label><br/>
      <input type="text" name="meals_quantity" id="supplier_meals_quantity" />
    </div>
    <div class = "field">
      <label for="supplier_blanket_quantity">Blanket Quantity:</label><br/>
      <input type="text" name="blanket_quantity" id="supplier_blanket_quantity" />
    </div>


  <% elsif @family != nil %>
    <div class = "field">
      <label for="family_num_pets">Number of Pets:</label> <br/>
      <input type="text" name="num_pets" id="family_num_pets" />
    </div>
    <div class = "field">
      <label for="family_num_family_members">Number of Family Members:</label> <br/>
      <input type="text" name="num_family_members" id="family_num_family_members" />
    </div>

  <% else %>
    <p> No user type found! </p>

  <% end %>




  <div class="actions">
      <%= f.submit "Update" %>
  </div>

<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
